<div class="profile-sidebar" fxFlex fxFlex.lt-sm="100" fxLayout="column">
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    class="profile-info"
    [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }"
  >
    <!-- <div [style.backgroundImage]="'url(' + member.profile.profilePicture + ')'"></div> -->
    <div class="background-filter"></div>
    <div
      class="profile-pic"
      [style.backgroundImage]="
        'url(https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)'
      "
    ></div>
    <h3
      class="letter-spacing-1 text-uppercase fw-600 member-name"
      style="font-size: 1vw"
      id=""
    >
      {{ member?.personal.firstName }} {{ member?.personal.lastName }}
    </h3>
    <div fxFlex fxLayout="row wrap" class="profile-links" style="width: 100%">
      <div
        fxFlex="100"
        class="profile-sidebar-link"
        routerLink="/profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </div>
      <div
        fxFlex="100"
        class="profile-sidebar-link"
        routerLink="/profile/meets"
        routerLinkActive="active"
      >
        My Meets
      </div>
      <div
        fxFlex="100"
        class="profile-sidebar-link"
        routerLink="/profile/records"
        routerLinkActive="active"
      >
        My Records
      </div>
      <div
        fxFlex="100"
        class="profile-sidebar-link"
        routerLink="/profile/membership"
        routerLinkActive="active"
      >
        Membership
      </div>
      <div
        fxFlex="100"
        class="profile-sidebar-link"
        routerLink="/profile/billing"
        routerLinkActive="active"
      >
        Billing
      </div>
      <div
        fxFlex="100"
        class="profile-sidebar-link"
        routerLink="/profile/settings"
        routerLinkActive="active"
      >
        Settings
      </div>
    </div>
  </div>
  <!-- <div class="background-filter"></div> -->
</div>
