<div class="full-page-section top-page-section" [style.backgroundImage]="['url(https://images.unsplash.com/photo-1529516548873-9ce57c8f155e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)']">
    <div class="carousel-image-filter"></div>
    <div class="top-page-section-info">
        <h1>CPL Sponsors</h1>
    </div>
</div>
<div
  class="page-section bottom top"
  id="officials"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="7vw"
>
  <div fxFlex="100">
    <h1
      class="letter-spacing-1 text-uppercase fw-600"
      style="margin-bottom: 3.5vw;"
    >
      A thanks to our sponsors
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum non
      nisl ac volutpat. Sed eget leo sem. Sed quis massa velit. Quisque ultrices
      eleifend eleifend. Aliquam in erat justo. Nullam imperdiet, lorem
      convallis laoreet pulvinar, enim velit molestie diam, sit amet faucibus
      sem diam sed purus. Sed convallis mattis pulvinar. Pellentesque quis orci
      a neque imperdiet varius. Etiam ac ultrices tellus.
    </p>
  </div>
</div>