.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .record-download-button:hover {
    text-decoration: underline;
  }

  th {
    color: black !important;
  }

  .meet-link:hover {
    text-decoration: underline;
  }

  .datatable-header-cell-label {
    font-weight: bold;
    font-size: 20px;
  }