.seciton-left {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background: url("https://images.unsplash.com/photo-1529516548873-9ce57c8f155e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: none;
    background-position-x: left;
    background-position-y: bottom;
  
    .section-left-content {
      max-width: 380px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      background: rgba($color: #000000, $alpha: 0.35);
      z-index: -1;
    }
  }
  
  .form-holder {
    background: white;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 40%;
  
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  
  .signup-form {
    padding: 20px 20px 70px 20px;
  }