.meet-page-section {
    margin: 20px 0px 30px 0px;
}

::ng-deep .mat-list-item-content {
    padding: 0 !important;
    font-size: 20px !important;
}

::ng-deep .mat-list-item-content *{
    padding: 0 !important;
    font-size: 20px !important;
}