<div
  class="full-page-section top-page-section"
  [style.backgroundImage]="[
    'url(https://images.unsplash.com/photo-1541600383005-565c949cf777?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)'
  ]"
>
  <div class="carousel-image-filter"></div>
  <div class="top-page-section-info">
    <h1>Rules and the CPL</h1>
  </div>
</div>
<div class="page-section top" style="padding-top: 7vw;">
  <h1
    class="letter-spacing-1 text-uppercase fw-600"
    style="margin-bottom: 3.5vw;"
  >
    About our meets
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum non
    nisl ac volutpat. Sed eget leo sem. Sed quis massa velit. Quisque ultrices
    eleifend eleifend. Aliquam in erat justo. Nullam imperdiet, lorem convallis
    laoreet pulvinar, enim velit molestie diam, sit amet faucibus sem diam sed
    purus. Sed convallis mattis pulvinar. Pellentesque quis orci a neque
    imperdiet varius. Etiam ac ultrices tellus.
  </p>
</div>
<div
  class="page-section bottom"
  id="officials"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="7vw"
>
  <div fxFlex="50">
    <h1
      class="letter-spacing-1 text-uppercase fw-600"
      style="margin-bottom: 3.5vw;"
    >
      The IPL
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum non
      nisl ac volutpat. Sed eget leo sem. Sed quis massa velit. Quisque ultrices
      eleifend eleifend. Aliquam in erat justo. Nullam imperdiet, lorem
      convallis laoreet pulvinar, enim velit molestie diam, sit amet faucibus
      sem diam sed purus. Sed convallis mattis pulvinar. Pellentesque quis orci
      a neque imperdiet varius. Etiam ac ultrices tellus.
    </p>
  </div>
  <div fxFlex>
    <img
      src="https://images.unsplash.com/photo-1541600278744-d4cba88bb2c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
      alt="squat"
    />
  </div>
</div>
